:root {
  /* Custom Colors */
  --primary-color: #b69517;
    /* lighter gold */
  --secondary-color: #614b00;
  --dark-color: rgb(41, 41, 41);

  /* Custom Fonts */
  --ff-primary: 'Raleway', 'Times New Roman', sans-serif;
  --ff-fancy: "Corinthia";
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary), Helvetica, Arial, sans-serif;
}

#app {
  width: 100%;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
}


/* Navbar */
header {
  background: rgba(177, 177, 177, 0.23);
  background-position: 80%;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header nav {
  margin: 7px 0;
  display: flex;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

.navbar {
  display: flex;
  margin: 10px auto;
  padding: 0;
  text-align: center;
}

header nav h1 a {
  font-family: var(--ff-fancy), cursive;
  font-size: 3rem;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
}

.navbar a {
  font-size: 1.25rem;
  margin: 0rem 1rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar:hover a {
  transform: scale(1.1);
  opacity: 0.8;
  filter: blur(2px);
}

.navbar a:hover {
  transform: scale(1.5);
  opacity: 1;
  filter: blur(0);
  color: var(--primary-color);
}

.navbar a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 179, 179, 0.39);
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
  z-index: -1;
}

.navbar a:hover:before {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  color: var(--primary-color);
}

.social {
  padding: 4rem;
}

.btn {
  border-radius: 1.5rem;
  border: 2px solid var(--dark-color);
  background-color: var(--primary-color);
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0.625rem;
  padding: 0.5rem 1rem;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--dark-color);
  border: 2px solid black;
  color: white;
}


/* Hero Section */
#hero {
  width: 100%;
  height: 85vh;
  background-image: url('./images/hero.jpg');  
  background-size: cover;
  position: relative;
}

.hero h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 1px 1px 10px rgb(0 0 0 / 50%);
  text-transform: capitalize;
}


/* About */
.section-title {
  font-family: var(--ff-fancy), cursive;
  font-size: 5rem;
  color: var(--primary-color);
  padding-top: 12px;
  border-bottom: 4px solid;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 40%;
}

.intro {
  display: block;
  margin: 3rem auto;
  width: 70%;
  background-color: var(--accent-color1);
}

.intro p {
  margin: 0 auto;
  color: var(--ff-secondary);
  font-size: 1.5rem;
  line-height: 1.7;
}


/* Services */
#services {
  background: var(--dark-color) url(./images/glitter-gold-background.jpg) no-repeat center center;
  background-size: cover !important;  
  -webkit-background-size: cover !important;
  background-attachment: fixed;
  min-height: 85vh;
}

.service-header {
  background:rgba(41, 41, 41, 0.75);
  background-size: cover;
  -webkit-background-size: cover !important;
  background-attachment: fixed;
  width: 40%;
}

.services {  
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 100px auto 70px auto;
}

.card {
  position: relative;
  width: 300px;
  height: 350px;
  background: var(--dark-color);
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
}

.card:before, .card:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: var(--dark-color);
  transition: 0.5s;
  z-index:-1;
}

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.card .content h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
} 

.card .content h2 span {
  font-weight: 700;
  font-size: 18px;
  color: var(--secondary-color);
  display: block;
  margin-top: 5px;
}

.services-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


/* Reviews */
#reviews {
  background: var(--dark-color) url(./images/leopard-bg.jpg) center center;

  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}

#reviews .review-container {
  padding-top: 96px;
  padding-bottom: 66px;
}

#reviews h1 {display: none;}

#reviews .header-col { padding-top: 9px; }
#reviews .header-col h1:before {
  content: "\f10d";
	padding-right: 10px;
	font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #fff;
}

/*	Blockquotes */
#reviews blockquote {
  margin: 0 0px 30px 0px;
  padding-left: 0;
  position: relative;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
}
#reviews blockquote:before { content: none; }
#reviews blockquote p {
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  color: #fff
}
#reviews blockquote cite {
  display: block;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  color: #fff;
}
#reviews blockquote cite:before { content: "\2014 \0020"; }
#reviews blockquote cite a,
#reviews blockquote cite a:visited { color: #8B9798; border: none }